.gameboard-parent {
    font-family: 'Press Start 2P', cursive;
    /* height: 100%; */
    display: grid;
    /* flex-direction: column; */
    /* justify-content: center; */
    align-items: center;
    background: black;
    /* vertical-align: middle; */
    grid-template: "a a a" "b c d";
    grid-template-columns: 1fr 1300px 1fr 
}





.board-container {
    /* width: 1600; */
    /* height: 900; */
    margin: 0 auto;
    position: relative;
    border: 2px solid #069304;
    margin-bottom: 70px;
    grid-area: c;
}

.board-header {
    display: flex;
    justify-content: center;
    grid-area: a;
}

.board-header h3 {
    margin-left: 275px;
    margin-right: 250px;
}

.side-bar {
    color: #3500fa;
    height: 100%;
    padding: 0;
    margin: 0;
    grid-area: b;
}

.side-bar h1 {
    font-size: 22px;
    display: flex;
    justify-content: center;
}

.side-bar li {
    font-size: 20px;
    list-style: none;
    padding: 5px 20px;
}

.side-bar li > h2 {
    color: #ffffff;
    font-size: 18px;
     overflow: hidden;
    text-overflow: ellipsis;

}

.side-bar li > h3 {
    color: #ffffff;
    font-size: 16px;
}

.board-header h3 {
    color: #3500fa;
    font-family: 'Press Start 2P', cursive;
    font-size: 24px;
}

.progressParent {
    width: 130px;
    height: 18px;
    background: gray;
    border-radius: 2px;
};
