.game_over {
    font-family: 'Press Start 2P', cursive;
    height: 100vh;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    z-index: 1;
    background: black;
}

.other-ele {
    z-index: 2;
    padding: 10px;
    height: 50vh; 
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.winner-announcement {
    font-family: 'Press Start 2P', cursive;
    font-size: 26px;
    color: #FCD02F;
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    /* padding: 8px 18px; */
}

.winner-announcement li {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    padding: 8px 16px;
}

.winner-head {
    font-size: 1.75em;
    margin-bottom: 15px;
}

.high-scorers {
    margin-top: 140px;
    height: 100%; 
    display: flex;
    justify-content: center;
    vertical-align: middle; 
    color: #3500fa;
    flex-direction: column;
    list-style: none;
    padding: 0px;
}

.high-scorers h2 {
    font-size: 2.2em;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    vertical-align: middle; 
    color: #3500fa;
}

.high-scorers li {
    display: flex;
    justify-content: space-between;
    color: #FFFF;
    line-height: normal;
    padding: 8px 18px;
    font-size: 24px;
}
