body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.player-form-parent {
    font-family: 'Press Start 2P', cursive;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    background: black;
}

.player-header {
    position: relative;
    width: auto;
    height: 40vh;
}

.player-form {
    height: 100vh;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.player-form h1 {
    color: #ffffff;
    font-family: 'Press Start 2P', cursive;
    font-size: 2vw;
}

.enter-room {
    position: relative;
    margin-top: 2%;
}

.error {
    position: relative;
    margin-top: 4%;
}

#back-home {
    height: auto;
    width: auto;
    background: none;
    font-size: 2vw;
    color: #3500fa;
    outline: none;
    border: none;
    font-family: 'Press Start 2P', cursive;
    bottom: 10%;
    position: relative;
}

#back-home:hover {
    color: #ffffff;
    cursor: pointer;
}


.room-input {
    min-height: 6%;
    min-width: auto;
    font-family: 'Press Start 2P', cursive;
    cursor: text;
    color: #ffffff;
    outline: none;
    border: 3px solid #3500fa;
    background: #000000;
    font-size: 2vw;
    border-radius: 5px;
    display: flex;
    line-height: normal;
    margin-top: 5%;
    padding: 0.5% 2%;
    position: relative;
}

::placeholder {
    color: #3500fa;
}

.player-btn {
    display: none;
}

.room-btn {
    height: auto;
    width: auto;
    background: none;
    font-size: 3vw;
    color: #3500fa;
    outline: none;
    border: none;
    font-family: 'Press Start 2P', cursive;
    padding-top: 4%;
    position: relative;
}

.btns {
    margin-top: 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.room-btn:hover {
    color: #ffffff;
    cursor: pointer;
}

#blue-ship {
    position: absolute;
    top: 50%;
    -webkit-transform: rotate(200deg);
    -moz-transform: rotate(200deg);
    -o-transform: rotate(200deg);
    -ms-transform: rotate(200deg);
    transform: rotate(200deg);
}

#my-canvas {
    font-family: 'Press Start 2P', cursive;
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

audio { 
  display: none;
}

.round-over {
    font-size: 36px;
    color: #3500fa;
}

.round-over {
    font-family: 'Press Start 2P', cursive;
    font-size: 36px;
    color: #3500fa;
}

.player-score {
    font-family: 'Press Start 2P', cursive;
    font-size: 28px;
    color: #3500fa;
}
