.player-form-parent {
    font-family: 'Press Start 2P', cursive;
    height: 100vh;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

.player-header {
    position: relative;
}

.player-form {
    height: 900px; 
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.player-form h1 {
    color: #3500fa;
    font-family: 'Press Start 2P', cursive;
    font-size: 24px;
}

.enter-room {
    position: relative;
}

/* .red-ship {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
    position: absolute;
    top: 280px;
    left: 320px;
}
 */
.red-blast1 {
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -o-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
    position: absolute;
    top: 280px;
    left: 450px;
}


.red-blast2 {
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -o-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
    position: absolute;
    top: 450px;
    left: 450px;
}

.room-input {
    min-height: 36px;
    min-width: 355px;
    font-family: 'Press Start 2P', cursive;
    cursor: text;
    color: #ffffff;
    outline: none;
    border: 3px solid #3500fa;
    background: #000000;
    font-size: 24px;
    border-radius: 5px;
    display: flex;
    line-height: normal;
    padding: 5px 10px;
    margin-top: 50px;
    position: relative;

}

::placeholder {
    color: #3500fa;
}

.player-btn {
    display: none;
}

.room-btn {
    min-height: 36px;
    min-width: 355px;
    background: none;
    font-size: 36px;
    color: #3500fa;
    outline: none;
    border: none;
    font-family: 'Press Start 2P', cursive;
    padding: 30px 50px;
    position: relative;
    display: flex;
}

.room-btn:hover {
    color: #ffffff;
    cursor: pointer;
}

#blue-ship {
    position: absolute;
    top: 500px;
    right: 140px;
    -webkit-transform: rotate(200deg);
    -moz-transform: rotate(200deg);
    -o-transform: rotate(200deg);
    -ms-transform: rotate(200deg);
    transform: rotate(200deg);
}

.star1 {
    position: absolute;
    left: 100px;
    top: 340px;
}

.star2 {
    position: absolute;
    right: 170px;
    top: 280px;
}

.star3 {
    position: absolute;
    left: 250px;
    bottom: 100px;
}

.ast-1 {
    position: absolute;
    top: 400px;
    right: 400px;
}

.ast-2 {
    position: absolute;
    left: 540px;
    top: 540px;
}

.blue-blast1 {
    position: absolute;
    top: 400px;
    right: 200px;
    -webkit-transform: rotate(290deg);
    -moz-transform: rotate(290deg);
    -o-transform: rotate(290deg);
    -ms-transform: rotate(290deg);
    transform: rotate(290deg);
}

.blue-blast2 {
    position: absolute;
    top: 520px;
    right: 300px;
    -webkit-transform: rotate(290deg);
    -moz-transform: rotate(290deg);
    -o-transform: rotate(290deg);
    -ms-transform: rotate(290deg);
    transform: rotate(290deg);
}

#my-canvas {
    font-family: 'Press Start 2P', cursive;
    height: 100vh;
    position: fixed;
    border: 2px solid #069304;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

audio { 
  visibility: hidden;
}
